{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Auchan Drives</title>

    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
</head>
<body>
{% if auchan_drives_list %}
    <div class='container-fluid'>
        {% for drive in auchan_drives_list %}
        <div class='raw text-center'>
            <h1>{{ drive }}</h1>
        </div>
            {% for i in "0123" %}
            <div class='raw'>
                <div class='col-md-3'>
                    <img src='{% static "auchan/" %}{{drive}}-{{i}}.jpg' class='img-responsive img-thumbnail' />
                </div>
            </div>
            {% endfor %}
        {% endfor %}
    </div>
{% else %}
    <p>No drive are available.</p>
{% endif %}
</body>
</html>
