{% extends 'registration/base_login.html' %}
{% load advchecker_extras %}

{% block title %}Creation de compte{% endblock %}

{% block body %}
    <section id="content" class="m-t-lg wrapper-md animated fadeInDown">
        <div class="container aside-xl">
            <a class="navbar-brand block" href="index.html">Adchecker</a>
            <section class="m-b-lg">
                <header class="wrapper text-center">
                    <strong>Creation de compte</strong>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                </header>
                <form method="post">
                    {% csrf_token %}
                    <div class="list-group">
                        <div class="list-group-item">
                            {{ form.username|add_class:'form-control no-border'|add_placeholder:'Identifiant' }}
                        </div>
                        <div class="list-group-item">
                            {{ form.email|add_class:'form-control no-border'|add_placeholder:'Email' }}
                        </div>
                        <div class="list-group-item">
                            {{ form.password1|add_class:'form-control no-border'|add_placeholder:'Mot de passe' }}
                        </div>
                        <div class="list-group-item">
                            {{ form.password2|add_class:'form-control no-border'|add_placeholder:'Confirmation' }}
                        </div>
                    </div>
                    <div class="checkbox m-b">
                        <label>
                            {{ form.conditions }} J'accepte les <a href="/conditions">Conditions générales et la
                            politique de
                            confidentialité</a>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Creer le compte</button>
                    <div class="line line-dashed"></div>
                    <p class="text-muted text-center">
                        <small>Vous avez deja un compte?</small>
                    </p>
                    <a href="/accounts/login" class="btn btn-lg btn-default btn-block">Connectez-vous</a>
                </form>
            </section>
        </div>
    </section>
{% endblock %}
