{% load advchecker_extras %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}Liste des enseignes - Overview{% endblock %}</title>

<!-- Bootstrap -->
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/style.css" %}" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">Advertising Checker</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            {% block menu %}
                <li class="active"><a href="#">All</a></li>
                {% if campagnes_enseigne_list %}
                {{campagne_enseigne_list}}
                {% for enseigne in campagnes_enseigne_list %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{enseigne}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                        {% if campagnes_magasin_list|get_item:enseigne %}
                        <li><a href="#">Tous</a></li>
                        <li class="divider"></li>
                        {% for magasin in campagnes_magasin_list|get_item:enseigne %}
                            <li><a href="#">{{magasin}}</a></li>
                        {% endfor %}
                        {% else %}
                        <li role="presentation" class="disabled">
                        <a role="menuitem" tabindex="-1" href="#">Aucun magasin pour cette enseigne</a>
                        </li>
                        {% endif %}
                        </ul>
                    <li><a href="{% url 'campagnes:index' %}">Campagnes</a></li>
                    </li>
                {% endfor %}
                {% endif %}
            {% endblock %}
            </ul>
            <a href="{% url 'admin:index' %}">
            <button type="button" class="btn btn-default navbar-right navbar-btn">
                    <span class="glyphicon glyphicon-cog"></span> Administation
                </button>
            </a>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</div> <!-- navbar -->
<div class='container-fluid'>
{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Enseigne</th>
                <th>Zone de l'image</th>
                <th>Resultat</th>
            </tr>
        </thead>
        <tbody>
            <tr id="1" class="test">
                <th>1</th>
                <th>Auchan</th>
                <th>Carrousel</th>
                <th>
                    <img id="loading-1" src="{% static "images/loading-mini.gif" %}" />
                    <span id="test1-good" class="glyphicon glyphicon-ok" style="display: none"/>
                </th>
            </tr>
            <tr id="2" class="test">
                <th>2</th>
                <th>Auchan</th>
                <th>Tata</th>
                <th>
                    <img id="loading-2" src="{% static "images/loading-mini.gif" %}" />
                    <span id="test2-good" class="glyphicon glyphicon-ok" style="display: none"/>
                </th>
            </tr>
            <tr id="3" class="test">
                <th>3</th>
                <th>Auchan</th>
                <th>YoYo</th>
                <th>
                    <img id="loading-3" src="{% static "images/loading-mini.gif" %}" />
                    <span id="test3-good" class="glyphicon glyphicon-ok" style="display: none"/>
                </th>
            </tr>
        </tbody>
    </table>
        <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Enseigne</th>
                <th>Zone de l'image</th>
                <th>Resultat</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/resemble.js" %}"></script>
<script src="{% static "js/compare-img.js" %}"></script>
</body>
</html>
