{% extends "advchecker/index.html" %}
{% load staticfiles %}

{% block menu %}

<li><a href="/campagnes">All</a></li>
{% if campagne_list %}
{% for campagne in campagne_list %}
    {% ifequal campagne.id current_id %}
        <li  class="active"><a href="/campagnes/{{campagne.id}}/">{{campagne}}</a></li>
    {% else %}
        <li><a href="/campagnes/{{campagne.id}}/">{{campagne}}</a></li>
    {% endifequal %}
{% endfor %}
{% endif %}

{% endblock %}




{% block content %}

{% if campagne_list %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Annonceur</th>
                <th>Date de debut</th>
                <th>Date de fin</th>
            </tr>
        </thead>
        <tbody>
            {% for campagne in campagne_list %}
            {% ifequal campagne.id current_id %}
                <tr id="test1">
                    <th>{{campagne.id}}</th>
                    <th>{{campagne.annonceur}}</th>
                    <th>{{campagne.date_debut}}</th>
                    <th>{{campagne.date_fin}}</th>
                </tr>
            {% endifequal %}
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <p>No campagnes at the moment.</p>
{% endif %}

{% endblock %}
