{% extends "base.html" %}
{% load staticfiles %}
{% load advchecker_extras %}

{% block title %}{{ current_campagne }}{% endblock %}

{% block headers %}
    <link rel="stylesheet" href="{% static "js/datatables/datatables.css" %}" type="text/css"/>
{% endblock %}

{% block header-right %}

{% endblock %}

{% block menu %}
    <!-- .aside -->
    <aside class="bg-black aside-md hidden-print hidden-xs" id="nav">
        <section class="vbox">
            <section class="w-f scrollable">
                <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0"
                     data-size="10px"
                     data-railOpacity="0.2">

                    <!-- nav -->
                    <nav class="nav-primary hidden-xs">
                        <div class="text-muted text-sm hidden-nav-xs padder m-t-sm m-b-sm">Mes Campagnes</div>
                        <ul class="nav nav-main" data-ride="collapse">
                            <li>
                                <a href="{% url 'campagnes:index' %}" class="auto">
                                    <i class="i i-statistics icon">
                                    </i>
                                    <span class="font-bold">Toutes</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'campagnes:screenshots' %}" class="auto">
                                    <i class="i i-screen icon">
                                    </i>
                                    <span class="font-bold">Screenshots</span>
                                </a>
                            </li>
                            {% if nb_campagne > 0 %}
                                <li class="active">
                                    <a href="#" class="auto">
                                        <span class="pull-right text-muted">
                                            <i class="i i-circle-sm-o text"></i>
                                            <i class="i i-circle-sm text-active"></i>
                                        </span>
                                        <b class="badge bg-danger pull-right">{{ nb_campagne }}</b>
                                        <i class="i i-stack icon">
                                        </i>
                                        <span class="font-bold">Details</span>
                                    </a>
                                    <ul class="nav dk" style="display: block;">
                                        {% for campagne in campagne_list %}
                                            {% ifequal campagne.id current_campagne.id %}
                                                <li class="active">
                                                    {% else %}
                                                <li>
                                            {% endifequal %}
                                        <a href="{% url 'campagnes:detail' campagne.id %}" class="auto">
                                            <i class="i i-dot"></i>

                                            <span>{{ campagne }}</span>
                                        </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'campagnes:new' %}" class="auto">
                                    <i class="fa fa-plus icon">
                                    </i>
                                    <span class="font-bold">Nouvelle campagne</span>
                                </a>
                            </li>

                            {% if super %}
                                <li>
                                    <a href="{% url 'admin:index' %}" class="auto">
                                        <i class="fa fa-cogs icon">
                                        </i>
                                        <span class="font-bold">Administration</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                    <!-- / nav -->
                </div>
            </section>

            <footer class="footer hidden-xs no-padder text-center-nav-xs">
                <a href="#nav" data-toggle="class:nav-xs" class="btn btn-icon icon-muted btn-inactive m-l-xs m-r-xs">
                    <i class="i i-circleleft text"></i>
                    <i class="i i-circleright text-active"></i>
                </a>
            </footer>
        </section>
    </aside>
    <!-- /.aside -->

{% endblock %}


{% block content %}
    <section class="scrollable wrapper">
        <section id="voscampagnes" class="panel panel-default">
            <header class="panel-heading">Snaps de {{ current_campagne }}</header>
            {% if is_allowed %}
                <div class="table-responsive">
                    <table id="campagnes" class="table table-striped m-b-none">
                        <thead>
                        <tr>
                            <th width="8%">#</th>
                            <th width="10%">Aperçu</th>
                            <th width="20%">Magasin</th>
                            <th width="27%">Rayon</th>
                            <th width="25%">Date d'execution</th>
                            <th width="10%">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for test in tests %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                {% if test.screenshot and test.status == "PASS" %}
                                    <td class="text-center">
                                        <a class="image" href="#modal" data-toggle="modal"
                                           data-src="{{ MEDIA_URL }}screenshots/{{ test.screenshot }}">
                                            <i class="fa fa-camera text-muted"></i>
                                        </a>
                                    </td>
                                {% else %}
                                    <td class="text-center image">
                                    </td>
                                {% endif %}
                                <td>{{ test.magasin }}</td>
                                <td>{{ test.rayon }}</td>
                                <td>{{ test.date_execution }}</td>
                                {% if test.status == "PASS" %}
                                    <td class="text-center"><i class="fa fa-check text-success text"
                                                               title="PASS"></i></td>
                                {% elif test.status == "FAIL" %}
                                    <td class="text-center"><i class="fa fa-times text-danger text"
                                                               title="FAIL"></i></td>
                                {% elif test.status == "WAIT" %}
                                    <td class="text-center"><i class="i i-clock2" title="WAIT"></i></td>
                                {% else %}
                                    <td class="text-center"><i class="fa fa-wheelchair" title="WAIT"></i></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="panel-body text-sm">
                    <p>Vous devez etre connecter en tant que {{ allowed_user }} pour voir cette campagne</p>
                </div>
            {% endif %}
        </section>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{% static "js/intro/intro_campagne_index.js" %}"></script>
    <script src="{% static "js/datatables/jquery.dataTables.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            var campagnes_table = $('#campagnes');
            campagnes_table.DataTable({
                "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
                pagingType: "simple_numbers",
                "columnDefs": [
                    { "type": "title-string", targets: 5}
                ]
            });
            campagnes_table.on('click', 'a.image', function () {
                $('#img-dest').attr('src', $(this).data('src'));
            });
        });
    </script>
    <!-- Modal -->
    <div class="modal fade" id="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Snapshot</h4>
                </div>
                <img id="img-dest" width="890" src="#" alt=""></a>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-rounded" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /Modal -->
{% endblock %}
