{% extends "base.html" %}
{% load staticfiles %}
{% load advchecker_extras %}

{% block title %}Nouvelle Campagne{% endblock %}

{% block headers %}
    <link rel="stylesheet" href="{% static "js/datatables/datatables.css" %}" type="text/css"/>
{% endblock %}


{% block menu %}
    <!-- .aside -->
    <aside class="bg-black aside-md hidden-print hidden-xs" id="nav">
        <section class="vbox">
            <section class="w-f scrollable">
                <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0"
                     data-size="10px"
                     data-railOpacity="0.2">

                    <!-- nav -->
                    <nav class="nav-primary hidden-xs">
                        <div class="text-muted text-sm hidden-nav-xs padder m-t-sm m-b-sm">Mes Campagnes
                        </div>
                        <ul class="nav nav-main" data-ride="collapse">
                            <li>
                                <a href="{% url 'campagnes:index' %}" class="auto">
                                    <i class="i i-statistics icon">
                                    </i>
                                    <span class="font-bold">Toutes</span>
                                </a>
                            </li>
                            {% if nb_campagne > 0 %}
                                <li>
                                    <a href="#" class="auto">
                                        <span class="pull-right text-muted">
                                            <i class="i i-circle-sm-o text"></i>
                                            <i class="i i-circle-sm text-active"></i>
                                        </span>
                                        <b class="badge bg-danger pull-right">{{ nb_campagne }}</b>
                                        <i class="i i-stack icon">
                                        </i>
                                        <span class="font-bold">Details</span>
                                    </a>
                                    <ul class="nav dk" style="display: block;">
                                        {% for campagne in campagne_list %}
                                            {% ifequal campagne.id current_campagne.id %}
                                                <li class="active">
                                                    {% else %}
                                                <li>
                                            {% endifequal %}
                                        <a href="{% url 'campagnes:detail' campagne.id %}" class="auto">
                                            <i class="i i-dot"></i>

                                            <span>{{ campagne }}</span>
                                        </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                            <li class="active">
                                <a href="{% url 'campagnes:new' %}" class="auto">
                                    <i class="fa fa-plus icon">
                                    </i>
                                    <span class="font-bold">Nouvelle campagne</span>
                                </a>
                            </li>
                            {% if super %}
                                <li>
                                    <a href="{% url 'admin:index' %}" class="auto">
                                        <i class="fa fa-cogs icon">
                                        </i>
                                        <span class="font-bold">Administration</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                    <!-- / nav -->
                </div>
            </section>

            <footer class="footer hidden-xs no-padder text-center-nav-xs">
                <a href="#nav" data-toggle="class:nav-xs"
                   class="btn btn-icon icon-muted btn-inactive m-l-xs m-r-xs">
                    <i class="i i-circleleft text"></i>
                    <i class="i i-circleright text-active"></i>
                </a>
            </footer>
        </section>
    </aside>
    <!-- /.aside -->
{% endblock %}

{% block header-right %}
    <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user user">
        <!-- Notifications -->
        <li class="hidden-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="i i-chat3"></i>
                <span class="badge badge-sm up bg-danger count">2</span>
            </a>
            <section class="dropdown-menu aside-xl animated flipInY">
                <section class="panel bg-white">
                    <div class="panel-heading b-light bg-light">
                        <strong>Vous avez <span class="count">2</span> notifications</strong>
                    </div>
                    <div class="list-group list-group-alt">
                        <a href="#" class="media list-group-item">
                  <span class="pull-left thumb-sm">
                    <img src="{% static "images/a0.png" %}" alt="..." class="img-circle">
                  </span>
                  <span class="media-body block m-b-none">
                    Use awesome animate.css<br>
                    <small class="text-muted">10 minutes ago</small>
                  </span>
                        </a>
                        <a href="#" class="media list-group-item">
                  <span class="media-body block m-b-none">
                    1.0 initial released<br>
                    <small class="text-muted">1 hour ago</small>
                  </span>
                        </a>
                    </div>
                    <div class="panel-footer text-sm">
                        <a href="#" class="pull-right"><i class="fa fa-cog"></i></a>
                        <a href="#notes" data-toggle="class:show animated fadeInRight">See all the notifications</a>
                    </div>
                </section>
            </section>
        </li>
        <!-- / Notifications -->
        <!-- User -->
        <li id="profile" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="thumb-sm avatar pull-left">
              <img src="{% static "images/a0.png" %}" alt="...">
            </span>
                {{ user }}<b class="caret"></b>
            </a>
            <ul class="dropdown-menu animated fadeInRight">
                <li>
                    <span class="arrow top"></span>
                    <a href="#">Settings</a>
                </li>
                <li>
                    <a href="profile.html">Profile</a>
                </li>
                <li>
                    <a href="#">
                        <span class="badge bg-danger pull-right">3</span>
                        Notifications
                    </a>
                </li>
                <li>
                    <a href="/conditions">Docs</a>
                </li>
                <li id="help">
                    <a href="#">Help</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/accounts/logout" data-toggle="ajaxModal">Logout</a>
                </li>
            </ul>
        </li>
        <!-- / User -->
    </ul>
{% endblock %}


{% block content %}
    <section class="scrollable wrapper">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">
                Créer une nouvelle campagne
            </header>
            <div class="panel-body">
                Sélectionnez les rayons à tester
                <form method="post" action="{% url 'campagnes:new' %}">
                    {% csrf_token %}
                    <div id="tree">
                        {% for item in rayons %}
                            {% if item == "in" %}
                                <ul>
                                    {% else %}
                                    {% if item == "out" %}
                                        </ul>
                                        </li>
                                    {% else %}

                                        <li>
                                            {% if item|is_inst:"campagnes.models.Rayon" %}
                                                <input type="checkbox" value="rayon_id_{{ item.id }}"> {{ item.nom }}
                                            {% else %}
                                                <input type="checkbox"> {{ item }}
                                            {% endif %}
                                            {% if item.leaf %}
                                                </li>
                                            {% endif %}

                                    {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <input type="submit" class="btn btn-primary" value="Créer">
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </section>
{% endblock %}

{% block scripts %}
    <!-- jQueryUI libraries -->
    <script type="text/javascript" src="{% static "js/jquery-ui-1.11.2/jquery-ui.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "js/jquery-ui-1.11.2/jquery-ui.css" %}"/>
    <!-- include plugin-tree -->
    <script type="text/javascript" src="{% static "js/tree/jquery.tree.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "js/tree/jquery.tree.min.css" %}"/>
    <!-- initialize checkboxTree plugin -->
    <script type="text/javascript">
        $(document).ready(function () {
            var tree_selector = $('#tree');
            tree_selector.tree({
                dnd: false,
                expandDuration: 200,
                collapseDuration: 200,
                onCheck: {
                    node: 'expand'
                },
                collapseUiIcon: 'ui-icon-plus',
                expandUiIcon: 'ui-icon-minus'
            });
            tree_selector.tree('collapseAll');
        });
    </script>
{% endblock %}
